::-webkit-scrollbar {
display: none;
}

::-moz-scrollbar {
	display: none;
}

.dp:hover {
	color: #be004f;
}

.skp:hover {
	color: #00aff0;
}

.ig:hover {
	color: #a734b3;
}

.thank {
	text-align: center;
	margin-top: 13%;
	font-size: 25px;
	margin-bottom: 5%;
}

.prof-pic {
	border-radius: 50%;
	-o-border-radius: 50%;
	width: 20%;
	height: 20%;
	padding: 2%;
	cursor: pointer;
}
