.dp:hover {
	color: #be004f;
}

.skp:hover {
	color: #00aff0;
}

.ig:hover {
	color: #a734b3;
}

.thank {
	text-align: center;
	margin-top: 15%;
	font-size: 25px;
}

.prof-pic {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	cursor: pointer;
}
